/*reset*/
html{background-color:#fff;color:#444;font-size:62.5%;}
body{font-size:1.2rem;font-family:verdana;line-height:1.8em; font-family:Microsoft YaHei,Tahoma,Arial; background-color:#f2f2f2;}
html,body{height:100%;background-color:#ddd;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd,pre{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, b, i{font-style:normal;font-weight:normal;}
li{list-style-image:none;list-style-position: outside;list-style-type:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;vertical-align:baseline;zoom:1;}
input, textarea, select, button{font-size: 12px;font-weight:inherit; vertical-align:middle;outline:none;}
input[type=radio], input[type=checkbox]{vertical-align: middle; margin-right:5px;}
textarea{resize:none;}
input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus{-webkit-appearance:textfield;outline:0}
/*base*/
a{text-decoration:none; color:#333;}
a:focus{outline-style:none;outline-width:0;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.underline{text-decoration:underline!important;}
.bold{font-weight:bold;}
.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
.alignleft{text-align:left;}
.forcewrap{word-wrap:break-word;word-break:break-all;text-overflow:hidden;overflow:hidden;}
.borderless{border: none;}
label.checkbox, label.radio, label.text{padding-left:4px;vertical-align:top;}
.breakword{word-wrap:break-word;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:20px!important;}
.mart30{margin-top:30px!important;}
.mart40{margin-top:40px!important;}
.mart50{margin-top:50px!important;}
.marl10{margin-left:10px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marl5{margin-left:5px!important;}
.marl20{margin-left:20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-white{color:#fff;}
.floatleft{float: left;}
.floatright{float: right;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top20{padding-top:20px!important;}
.p-top30{padding-top:30px!important;}
.p-top40{padding-top:40px!important;}
.p-top50{padding-top:50px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font9{font-size:0.8rem!important;}
.font12{font-size:1.2rem!important;}
.font13{font-size:1.3rem!important;}
.font14{font-size:1.4rem!important;}
.font15{font-size:1.5rem!important;}
.font16{font-size:1.6rem!important;}
.font17{font-size:1.7rem!important;}
.font18{font-size:1.8rem!important;}
.font20{font-size:2.0rem!important;}
.font25{font-size:2.5rem!important;}
.font30{font-size:3.0rem!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.block{display: block;}
.goon{cursor: pointer;}
.more{color:#59a7f9;padding:5px 0;font-size:1.4rem;}
.color-4{color:#444;}
.color-6{color:#666!important;}
.color-8{color:#888;}
.color-9{color:#999;}
.color-cb{color:#cbcbcb;}
.color-c{color:#ccc!important;}
.nobg{background:none!important;}
.nobgimg{background-image:none!important;}
.bg-01{background-color:#ff1f5e;}
.bg-02{background-color:#fd5129;}
.bg-03{background-color:#ffa700;}
.bg-04{background-color:#00cf77;}
.bg-05{background-color:#3ab9f0;}
.bg-06{background-color:#70d4d4;}
.bg-07{background-color:#;}
.bg-08{background-color:#;}
.bg-09{background-color:#;}
.more span{display: inline-block;color:#777;}
.more .loading{width:25px;height:25px;background:url(../img/loading1.png) no-repeat center center;background-size:20px;margin-right:5px;-webkit-transition:0.3s;transition:0.3s;}
.more.up .loading{-webkit-transform:rotate(-180deg);-webkit-transition:0.3s;transition:0.3s;}
.more.wait .loading{background:url(../img/loading2.png) no-repeat center center;background-size:25px;-webkit-animation:spin 800ms infinite linear;animation:spin 800ms infinite linear;}
.more span:nth-child(2){text-align:left;line-height:16px;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.BtnONF{display:block;width:53px;height:28px;border-radius:40px;border:0;float: right;margin-right:15px;position:relative;cursor:pointer;top:7px;}
.BtnONF span{display: inline-block;border:1px solid #6bb5ff;height:24px;width:24px;border-radius:50px;background: #fff;position:absolute;}
.BtnOn{background:#6bb5ff;-webkit-transition:0.2s;}
.BtnOn span{top:1px;right:1px;padding:0!important;-webkit-transition:0.2s;}
.BtnOff{background:#fff;border:1px solid #e6e6e6;width:53px;height:28px;-webkit-transition:0.2s;}
.BtnOff span{border:1px solid #e6e6e6;width:24px;height:24px;top:1px;right:25px;padding:0!important;-webkit-transition:0.2s;box-shadow:-1px -1px 1px #e6e6e6;}
/*icon*/
.BtnIcon{font-size:0;line-height:0;display:inline-block;height:100%;cursor: pointer;}
.Calleft,.TopSer,.Back{width:100%;background:url(../img/ico-01.png) no-repeat center center;background-size:18px;}
.Back{background: url(../img/ico-back.png) no-repeat center center;background-size:18px;}
.TopSer{background-image: url(../img/ico-02.png);}
.plus{width:17px;height:17px;background-image:url(../img/ico-plus.png);background-size:17px;}
.Icon-pen,.Icon-paper,.Icon-pack{width:26px;height:26px;background-size:26px;background-image: url(../img/ico-pen.png);}
.Icon-paper{background-image: url(../img/ico-paper.png);}
.Icon-pack{background-image: url(../img/ico-pack.png);}
.Icon-out,.Icon-change{width:12px;height:12px;background-size:12px;background-image: url(../img/ico-out.png);}
.Icon-change{background-image: url(../img/ico-m.png);}
.Icon-neex{width:12px;height:12px;background-image:url(../img/ico-annex.png);background-size:12px;vertical-align: -1px;margin-right:3px;}
.edit{width:24px;height:24px;background-size:24px;background-image: url(../img/ico-pen2.png);margin:20px 0 0 20px;-webkit-transition:0.2s;}

.Icon-ok{width:14px;height:14px;background-image: url(../img/ico-ok-2.png);background-size:14px;}
.Icon-no{width:14px;height:14px;background-image: url(../img/ico-fj-2.png);background-size:14px;}
.Icon-return{width:18px;height:11.5px;background-image: url(../img/ico-ht-2.png);background-size:18px;}
.Icon-turn{width:17px;height:12px;background-image: url(../img/ico-zs2.png);background-size:17px;}
.btn:active .Icon-ok,.btn.current .Icon-ok{width:14px;height:14px;background-image: url(../img/ico-ok.png);background-size:14px;}
.btn:active .Icon-no,.btn.current .Icon-no{width:14px;height:14px;background-image: url(../img/ico-fj.png);background-size:14px;}
.btn:active .Icon-return,.btn.current .Icon-return{width:18px;height:11.5px;background-image: url(../img/ico-ht.png);background-size:18px;}
.btn:active .Icon-turn,.btn.current .Icon-turn{width:17px;height:12px;background-image: url(../img/ico-zs.png);background-size:17px;}



.prompt{border-radius:60em;height:15px;line-height:15px;padding:0 6px;margin:0 0 0 31px;background:#777;font-size:1.1rem;display:inline-block;position:relative;top:-2px;}
.TopDown ul li .prompt{position:absolute;background: #e82827;color:#fff;padding:0 4px;top:30%;margin-top:-8px;left:33%;}
.Icon-find{width:10px;height:10px;background: url(../img/ico-032.png) no-repeat;background-size:11px;}
.view,.mask{width:100%;height:100%;position:relative;}
.mask,.maskOver{background-color:#444;opacity:0;position:fixed;top:0;left:0;z-index:20;display:none;}
.maskOver{width:100%;height:100%;z-index:50;}
.maskOverbg{background:0;opacity:1;overflow:hidden;}
.maskIN{width:100%;height:100%;position:absolute;top:49px;background:url(../img/bgre.jpg) repeat;background-size:20px;padding-top:150px;}
.header{width:100%;height:40px;border-bottom:1px solid #a2a2a2;background:#59a7f9;position:absolute;top:0;left:0;color: #fff;text-shadow: 1px 1px 1px #5299e4;z-index:100;overflow:hidden;}
.TopL,.TopR,.TopM{width:15%;height:100%;float: left;}
.TopR{float:right;}
.TopM{width:70%;float:left;text-align:center;line-height:40px;position: relative;}
.quit{display:block;height:100%;line-height:54px;}
.SearchBox{width:100%;height:30px;background-color:#fff;position:absolute;top:-49px;left:0;width:100%;z-index:20;padding-bottom:10px;border-bottom:1px solid #6b6b6b;transition:0.2s;-webkit-transition:0.2s;}
.SearchIn{background-color:#dedddd;margin:5px 30px;border-radius:6px;}
.SearchBox input{width:100%;height:100%;line-height:30px;border:0;background:none;color: #969698;text-align: center;font-size:1.3rem;background:url(../img/ico-03.png) no-repeat 50% center;background-size:20px;}
.SearchBox input:focus{background:none;}
.SearchBox.current{top:49px;transition:0.2s;-webkit-transition:0.2s;}
.SearchBoxNomal{position:relative;top:0;border:0;background:none;}
/*.SearchBox.current{display: block;}*/
.Icon-toggle{width:8px;height:5px;background:url(../img/arrow2.png) 0 bottom;background-size:8px;position:relative;top:-2px;right:-4px;transition:0.4s;-webkit-transition:0.4s;}
.current .Icon-toggle{background-position:0 0;-webkit-transition:0.4s;}
.TopDown{width:100%;height:60px;position:absolute;top:-50px;left:0;background:#fff;border-bottom:1px solid #6b6b6b;z-index:30;transition:0.2s;-webkit-transition:0.2s;text-align:center;}
.TopDown ul li{display:inline-block;width:110px;padding-top:13px;text-align:center;color:#747c86;position: relative;}
.TopDown ul li.current,.TopDown ul li:active{color:#59a7f9;}
.TopDown.active{top:48px;-webkit-transition:0.2s;}
@media screen and (max-width:320px){
	.TopDown ul li{width:100px;}
}
@media screen and (min-width:321px) and (max-width:390px){
	.TopDown ul li{width:110px;}
}
@media screen and (min-width:540px){
	.TopDown ul li{width:130px;}
}
.Icon-wait,.Icon-fj,.Icon-cross,.Icon-history,.Icon-sure{display:block;width:20px;height:20px;margin:0 auto;background-size:20px;margin-bottom:4px;background-image: url(../img/ico-w1.png);}
.Icon-fj{background-image: url(../img/ico-fj1.png);}
.Icon-cross{background-image: url(../img/ico-c1.png);}
.Icon-history{background-image: url(../img/history.png);}
.Icon-sure{background-image: url(../img/ico-cr.png);}
.current .Icon-wait,.TopDown ul li:active .Icon-wait{background-image: url(../img/ico-w2.png);}
.current .Icon-fj,.TopDown ul li:active .Icon-fj{background-image: url(../img/ico-fj2.png);}
.current .Icon-cross,.TopDown ul li:active .Icon-cross{background-image: url(../img/ico-c2.png);}
.current .Icon-history,.TopDown ul li:active .Icon-history{background-image: url(../img/history_hover.png);}
.current .Icon-sure,.TopDown ul li:active .Icon-sure{background-image: url(../img/ico-cr2.png);}


.content{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;background:url(../img/bgre.jpg) repeat;background-size:20px;}
.list{background:#fff;}
.list li{border-bottom:1px solid #ddd;border-top:1px solid #ddd;height:50px;margin-top:-1px;padding:0 35px 0 15px;background-image: url(../img/ico-04.png);background-position: 98% center;background-size:16px;background-repeat:no-repeat;color:#888;position: relative;transition:0.1s;-webkit-transition:0.1s;}
.AppImg img{width:24px;height:24px;border:1px solid #f9f9f9;border-radius:20px;}
.arrow1{width:12px;height:12px;background: url(../img/ico-05.png) no-repeat;position: absolute;background-size:12px;right:0;top:0;}
.list li .AppImg{margin-top:13px;display:inline-block;margin-right:20px;}
.list li .AppName{color:#444;}
.list li.cross p:nth-child(4) span.floatright{color:#00cf77;}
.list li.nocross p:nth-child(4) span.floatright{color:#e6004f;}
.list li.current{background-color:#42a6fc;color:#fff;}
.list li.current .AppName,.list li.current.cross p:nth-child(3) span.floatright,.list li.current.nocross p:nth-child(3) span.floatright{color:#fff;}
.list li.current .AppImg img{border:1px solid #fff;}
.list li p{line-height:16px;padding-top:6px;}
.list li.active{left:-50px;transition:0.1s;-webkit-transition:0.1s;}
.Revoke{width:50px;height:100%;line-height:5rem;text-align:center;background: #dc424e;font-size:1.5rem;color:#fff;position:absolute;right:-50px;top:0;z-index: 10;}
/*login*/
.login{background-color:#fff;padding-top:30%;}
.login .header{background: url(../img/loginheader.jpg) repeat;background-size:3px;height:50px;}
.noh{padding-top:20%;}
.noh .header{display: none;}
.Circle{width:100px;height:100px;background:#ede8e6;margin:0 auto;border-radius:50px;position: relative;z-index:1;}
.CircleIn{display:block;width:92px;height:92px;position: absolute;top:4px;left:4px;background: url(../img/circle.png) no-repeat;background-size:92px;}
.CircleIn.current{-webkit-animation:spin 1500ms infinite linear;}
@-webkit-keyframes spin{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(359deg)}
}
.Circle .logo,.Circle .logo img{width:87px;height:87px;position:absolute;z-index: 20;top:3.5px;left:3px;border-radius:50em;}
.loginInt{width:60%;margin:0 auto;margin-top:30px;font-size:1.2rem;}
.noh .loginInt{margin-top:20px;}
.loginInt p input{border:0;border-bottom:1px solid #bbb;width:100%;color:#999;border-radius:0;}
.loginBtn{width:60%;height:35px;border-radius:40px;margin:0 auto;position: relative;background-color:#fff;border:2px solid #59a7f9;}
.loginBtnIn{width:100%;height:35px;background-color:#fff;border-radius:40px;position:absolute;top:0px;left:0px;line-height:35px;text-align: center;}
.Icon-login{width:70px;height:70px;background: url(../img/loginarrow.png) no-repeat center 20px;background-size:35px;position:absolute;right:-18px;top:-20px;}
.Logintext{color:#0366cc;height:35px;line-height:35px;position: absolute;left:50%;margin-left:-20px;width:70px;font-size:1.2rem;}
.choosenet{width:270px;background:#fff;position:absolute;left:50%;margin-left:-135px;z-index:40;border-radius:5px;top:27%;}
.choosenet ul li{margin:0 13px;border-bottom:1px solid #ccc;height:50px;line-height:50px;font-size:1.4rem;text-indent:5px;position:relative;}
.choosenet ul li:last-child{border-bottom: 0;}
.choosenet .quitBtn{display:block;height:50px;line-height:50px;font-size:1.5rem;color:#fff;background:#888;border-radius:0 0 4px 4px;position:relative;z-index:100;}
.choosenet ul li:active{color:#5299e4;}
.choosenet .choosenetin{max-height:180px;overflow-y: scroll;}

/*侧边栏*/
.sidebar{width:100%;height:100%;position:absolute;left:0;top:0;background:#333;}
.sidebar ul{padding-top:60px;}
.sidebar ul li,.LOut span{color:#fff;display: block;line-height:30px;padding:5px 10px 5px 37px;margin-bottom:3px;font-size:14px;background-repeat: no-repeat;background-position: 14px center;background-size:18px;text-shadow: 1px 1px 1px #373d52;}
.sidebar ul li.userimg{padding: 0;margin:0;margin-bottom: 30px;}
.sidebar ul li.userimg span.userimg{display:block;width:70px;height:70px;background:#35312e url(../img/circle2.png) no-repeat 3px 3px;background-size:63px;float: left;margin-left:12px;margin-right:5px;border:1px solid #474747;border-radius:50px;}
.sidebar ul li.userimg img{border-radius:50px;width:62px;height:62px;position: relative;border:2px solid #fff;top:2px;left:2px;}
.sidebar ul li.userimg p{font-size:1.1rem;padding-top:4px;line-height:18px;}
.sidebar ul.nopadding li{height:40px;line-height:40px;padding:0;text-shadow: none;font-size:1.5rem;padding-left:20px;margin-bottom:10px;}
.sidebar ul.nopadding li .BtnIcon{margin-right:11px;position:relative;top:8px;}
.sidebar ul.nopadding li.current{background-color:rgba(0,0,0,.3);}
.sidebar ul.nopadding li.current .prompt{background-color:#42a6fc;}
.LOut span{padding:0;text-shadow: none;}
.LOut span.current{background-color:#42a6fc;}
.LOut span .BtnIcon{margin:0 8px 0 25px;position:relative;top:1px;}
.sidebar.show + .view,#RemoveLeft{
	height: 80%;
	top:10%;
	overflow: hidden;
	-webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(70%,0,0);
    -webkit-transform: perspective(650px) rotateY(-50deg) translate3d(60%,0,0);
}
.sidebar.hide + .view{
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: perspective(0) rotateY(0) translate3d(0,0,0);
    overflow: hidden;
}
.sidebar.showA + .view{
	height: 90%;
	top:5%;
	overflow: hidden;
	-webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(70%,0,0);
}
.sidebar.hideA + .view{
    -webkit-transition: -webkit-transform 400ms;
    overflow: hidden;
}

/*弹出选择表单*/
.BottomBtn{width:130px;height:50px;padding-top:9px;position:absolute;background:url(../img/Bottom-btn.png) no-repeat center bottom;bottom:0;left:50%;line-height:75px;margin-left:-65px;background-size:100px;z-index:30;text-align: center;}
.BottomBtn .BtnIcon{-webkit-transform: rotate(0deg);-webkit-transition:0.2s;}
.BottomBtn.current{background:url(../img/Bottom-btn2.png) no-repeat center bottom;background-size:100px;z-index:210;}
.BottomBtn.current .BtnIcon{-webkit-transform: rotate(45deg);-webkit-transition:0.2s;}
.formIcon{width:100%;height:100%;position:absolute;top:0;left:0;background: url(../img/bg3.jpg);background-size:cover;z-index:200;}
.formIcon .SearchBox{padding-top:20px;}
.formIcon .SearchBox .SearchIn{display:block;background-color:#aaa;}
.formIcon .SearchBox input{background:url(../img/ico-03-2-2.png) no-repeat 50% center;background-size:47px;color:#fff;text-indent:20px;}
.formIcon .SearchBox input:focus{background: none;}
/*.formIcon .SearchBox input:focus{background: url(../img/ico-03-3.png) no-repeat 5% center;background-size:16px;text-indent:20px;}*/
.formIconin{position:relative;width:100%;height:100%;}
.formIconin-box{position:absolute;top:80px;bottom:70px;left:20px;right:20px;z-index:999; text-align: center;overflow: hidden;}
.formIconin-box li{display:inline-block;width:0;text-align:center;color:#555;font-size:0;margin:10px 0 10px 0;overflow: hidden;-webkit-transition:width 0.2s, height 0.2s, -webkit-transform 0.2s;}
.formIconin-box li span{display:block;width:0;height:0;margin:0 auto;margin-bottom:5px;border-radius:50em;position: relative;-webkit-transition:width 0.2s, height 0.2s, -webkit-transform 0.2s;}
.formIconin-box li span .BtnIcon{width:0;height:0;background-size:30px;background-repeat:no-repeat;position: absolute;top:50%;left:50%;margin:-13px 0 0 -15px;-webkit-transition:width 0.2s, height 0.2s, -webkit-transform 0.2s;}
.formIconin-box li:active span .BtnIcon{margin:-20px 0 0 -15px;-webkit-transition:0.2s;}
.f-ico1{background-image: url(../img/f-ico1.png);}
.f-ico2{background-image: url(../img/f-ico2.png);}
.f-ico3{background-image: url(../img/f-ico3.png);}
.f-ico4{background-image: url(../img/f-ico4.png);}
.f-ico5{background-image: url(../img/f-ico5.png);}
.f-ico6{background-image: url(../img/f-ico6.png);}
.formIconin-box.current li{width:32%;overflow: visible;font-size:1.3rem;}
.formIconin-box.current li span{width:65px;height:65px;}
.formIconin-box.current li span .BtnIcon{width:30px;height:30px;}

/*form*/
.formOut{padding:5px;}
.formOut section.form{padding:10px;background-color:#fff;box-shadow: 1px 1px 1px #ccc;}
.formOut section.form table{width:100%;}
.formOut section.form table th{color:#888;height:30px;text-align: right;width:24%;vertical-align:top;}
.formOut section.form table td{color:#666;text-align: left;padding-left:10px;vertical-align:top;}
.formOut section.form header{border-bottom: 1px solid #ddd;padding:5px 0;position:relative;top:-5px;}
.formOut section.form header img{width:37px;height:37px;border-radius:50px;}
.formOut section.form header span{display:inline-block;height:37px;line-height:37px;margin-right:10px;}
.formOut section.form table tr.nowstep td{color:#59a7f9;}
.formOut section.form:nth-child(2) table tr td:first-child{padding:0;}
/*右侧扇形菜单*/
.BottomRBtn{background-color:#69b0fa;width:103px;height:103px;border-radius:50px;position: absolute;z-index:20;right:-51px;bottom:-51px;box-shadow: -1px -1px 2px #8a99cc;opacity:0.9;}
.BottomRBtn.current{background-color:#3674b5;box-shadow: -1px -1px 2px #4b5ea4;}
.BottomRBtn.current .edit{-webkit-transform: rotate(80deg);-webkit-transition:0.2s;}
.BottomRbox{position:fixed;bottom:0;left:0;right:0;z-index:10;border-top:1px solid #ccc;}
.BottomRbox.current{-webkit-transform:rotate(0deg)!important;-webkit-transition:0.6s;-webkit-transform:scale(1.5);}
.BottomRbox .btn{display:inline-block;width:25%;padding-top:8px;height:37px;line-height:1.5rem;text-align:center;font-size:1rem;float:left;color:#59a7f9;background:#fff;}
.BottomRbox .btn1{color:#02cf77;}
.BottomRbox .btn2{color:#ff502b;}
.BottomRbox .btn3{color:#fea701;}
.BottomRbox .btn4{color:#37b8ef;}
.BottomRbox .btn:active,.BottomRbox .btn.current{background:#59a7f9;color:#fff;}
.BottomRbox .btn3 .BtnIcon{margin:2px 0 1px 0;background-repeat: no-repeat;}
.BottomRbox .btn4 .BtnIcon{margin:2px 0 0 0;}
.BottomRbox .btn span{width:40px;display:inline-block;line-height:10px;font-size:1.2rem;}
.BottomRbox .btn:active .BtnIcon{-webkit-transform:rotate(30deg);-webkit-transition:0.2s;}
/*表单填写*/
.editList li{margin-top:-1px;}
.LiOut{height:40px;line-height:40px;background: #fff;border:1px solid #ccc;border-width:1px 0;position:relative;}
.editList li input,.editList li textarea,.editList li .article{background:transparent;width:100%;line-height:30px;border:0;position: relative;z-index:5;text-indent:12px;font-size:1.4rem;color:#888;overflow-y:visible;}
.editList li textarea{min-height:30px;line-height:20px;}
.editList li .article{min-height:30px;line-height:20px;z-index:1000;}
.editList li .Inmask{width:100%;height:40px;line-height:40px;text-align: right;position:absolute;top:0;left:0;font-size:1.4rem;}
.editList li .Inmask span{color:#ccc;padding-right:10px;}
.editList li .Inmask span.floatleft{padding:0 0 0 10px;color:#888;}
.editList li.choose .LiOut{background:#fff url(../img/arrow.png) no-repeat 96% 15px;background-size:8px;}
.editList li.autoHeight div.LiOut{height:auto;min-height:40px;}
.editList li .color-9{text-align:center;}
.textnumber{position: absolute;color:#c6c6c6;right:12px;bottom:11px;line-height:14px;height:14px;}
.uploadimg{height:44px;padding:5px 12px;border-top:1px solid #ccc;}
.uploadimg img{width:44px;height:44px;margin-right:2px;}
.uploadimg img:last-child{margin-right:0;}
.editList li.upimg .LiOut .Inmask{position:relative;}
.nextstep{display:block;margin:0 40px;background: #59a7f9;border-radius:30em;height:45px;line-height: 45px;color:#fff;}
.Submitstep{background: #2ecd71;}
.process li{position: relative;}
.Userprocess{width:95%;height:40px;line-height:40px;color:#aaa;}
.Userprocess img{width:30px;height:30px;border-radius:50em;margin:0px 5px 0 10px;vertical-align:middle;}
.Userprocess span{color:#888;padding-right:5px;}
.process li{margin-top:10px;}
.process li:first-child{margin-top:0;}
.process li .Revoke{right:0;height:42px;line-height:42px;bottom:0;top:inherit;z-index:-1;}
.addstep{color:#59a7f9;}
.processlist li{margin-top:-1px;}
.processlist li .Userprocess{font-size:1.4rem;max-width:85%;position:relative;word-break:break-all;word-wrap:break-word;height:auto;min-height:30px;line-height:25px;
padding:7px 0 4px 10px;}
.processlist li.choose .LiOut{background-image:none;height:auto;min-height:40px;}
.processlist li.choosed .LiOut{background:#fff url(../img/choosed.png) no-repeat 96% center;background-size:14px;}
.processlist li.choosed .Userprocess{color:#555;}
.process li .LiOut{left:0;-webkit-transition:0.2s;}
.process li.active .LiOut{left:-50px;-webkit-transition:0.2s;}
.workovertime .Userprocess{width:93%;text-indent:10px;}
.workovertime li{margin-top:-1px;}
.textM{margin:0 30px;}
.textM textarea{width:95%;height:150px;color:#888;padding:5px;}
/*通讯录*/
.contaceTab{width:150px;border:2px solid #fff;border-radius:5px;height:27px;margin:0 auto;margin-top:10px;}
.contaceTab dd{display:inline-block;float:left;text-align:center;height:27px;line-height:27px;font-size:1.3rem;width:75px;text-shadow: none;}
.contaceTab dd.current{background-color:#fff;color:#59a7f9;}
.contact{position: absolute;overflow:hidden;left:0;right:0;bottom:0;top:40px;}
.contactBox p.color-6{padding-left:15px;height:20px;line-height:20px;}
.contactBox ul{border:1px solid #ddd;background: #fff;border-width:1px 0;}
.contactBox ul li{border-bottom:1px solid #ecebeb;margin:0 15px;}
.contactBox ul li:last-child{border:0;}
.contactBox ul li img{width:34px;height:34px;border-radius:50em;margin:8px 10px 0 0;}
.contactBox ul li div.floatleft p:first-child{color:#555;padding-top:5px;font-size:1.5rem;}
.contactBox ul li div.floatleft p:last-child{color:#888;}
.contactBox ul li div.floatleft p span:first-child{padding-right:10px;}
.wordfind{position:absolute;width:15px;top:24px;right:4px;color:#59a7f9;text-align:center;z-index:20;}
.wordfind li{height:14px;line-height:14px;font-size:1.1rem;position: relative;}
.wordfind li em{width:29px;height:24px;background: url(../img/word-bg.png) no-repeat;background-size:29px;text-align:left;text-indent: 8px;line-height:24px;color:#fff;position:absolute;left:-29px;top:50%;margin-top:-13px;font-size:1.1rem;}
/*评分,报销*/
.score .Inmask span:nth-child(2){padding-right:40px;}
.score .Inmask span:nth-child(2) em,.score .Inmask span:first-child em i{color:#59a7f9;padding-right:3px;font-size:1.3rem;}
.score .Inmask span:first-child em{padding-left:10px;}
.score ol{margin:0 10px 0 35px;}
.score ol li{background:none;margin-bottom:10px;list-style-type:decimal!important;color:#666;font-size:1.5rem;}
.score ol li:last-child{margin-bottom:20px;}
.editList select{border:0;height:42px;line-height:42px;outline: none;background:none;}
.score select{position:absolute;width:100%;left:110px;color:#59a7f9;font-size:1.4rem;}
.score select option em{color:#59a7f9;padding-right:4px;}
.cost .LiOut p{line-height:20px;padding:0 40px 0 10px;color:#888}
.cost .LiOut p span.floatleft{color:#666;}
.cost .LiOut p:last-child{color:#aaa;}
.line{height:25px;line-height: 25px;color:#59a7f9;background-color:#fff;border-bottom:1px solid #ccc;margin:5px 0;padding:0 10px;font-size:1.2rem;}
.formOut .editList li.choose .LiOut{background-image: none;}
.formOut .score .Inmask span:nth-child(2){padding-right:10px;}
.formOut .score li .Inmask{position:relative;height:25px;line-height:25px;font-size:1.2rem;}
.formOut .score li.choose .LiOut{height:auto;line-height:20px;border-top:0;}
.formOut .score li.choose .LiOut ol{margin:0 0px 0 27px;}
.formOut .score li.choose .LiOut ol li{font-size: 1rem;margin:1px 0;color:#888;}
.formOut .editList li{margin-top:0;}
.formOut .editMain{margin-bottom:5px;}
.dropdown{width:12px;height:12px;background:url(../img/arrow.png) no-repeat;background-size:8px;top:10px;left:-10px;position: relative;-webkit-transform: rotate(90deg);transform:rotate(90deg);-webkit-transition:0.2s;transition:0.2s;}
.current .dropdown{-webkit-transform: rotate(-90deg);transform:rotate(-90deg);}
/*#score{height: 0;overflow: hidden;}
#score.current{height:auto;overflow: visible;}*/
.textM{margin:0 20px;}
.textM textarea{width:97%;height:100px;color:#888;padding:5px;}
.zs-btn{background-color:#37b8ef;}
.ht-btn{background-color:#fea701;}
.fj-btn{background-color:#ff502b;}
.fj-crrose{background-color:#02cf77;}













